.bookEvent_container {
  padding: 100px 50px;
  h1 {
    color: var(--color-title);
    font-family: var(--font-SfMedium);
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
  }
  .bookEventWrap {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    justify-content: space-between;
  }
}
.infoAboutEventContainer {
  max-width: 800px;
}
.infoAboutEvent {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 20px;
  img {
    max-width: 250px;
    min-height: 300px;
    border-radius: 10px;
  }
  .eventDiscription {
    list-style: none;
    li {
      color: var(--color-title);
      font-size: 23px;
      font-family: var(--font-SfRegular);
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      &.name {
        font-family: var(--font-SfBold);
        font-size: 23px;
        margin-bottom: 10px;
      }
      &.age {
        background-color: var(--color-red);
        padding: 5px;
        border-radius: 5px;
        color: var(--color-white);
        max-width: 40px;
        font-size: 17px;
        cursor: unset;
      }
      &.date_location {
        span {
          font-size: 16px;
          margin-bottom: 10px;
        }
        h2 {
          font-size: 20px;
        }
      }
    }
  }
}
.discription {
  span {
    display: inline-block;
    margin-bottom: 6px;
    font-size: 20px;
    font-family: var(--font-SfMedium);
    color: var(--color-title);
  }
  p {
    font-size: 17px;
    font-family: var(--font-SfRegular);
    color: var(--color-title);
  }
}
.seats_block {
  max-width: 750px;
  flex-shrink: 0;
  padding-block: 40px;
  .screenFormContainer {
    text-align: center;
    max-width: 500px;
    margin: auto;
    background-color: var(--color-red);
    padding: 10px 10px;
    border-radius: 5px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 0px 4.763px 10px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
    span {
      font-size: 22px;
      font-family: var(--font-SfBold);
      color: var(--color-white);
      text-align: center;
      line-height: 100%;
    }
  }
  .seats {
    .seatRow {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;
      &:last-child {
        margin-top: 20px;
        .seat {
          &:nth-child(3) {
            margin-left: 50px;
          }
          &:nth-last-child(3) {
            margin-right: 50px;
          }
        }
      }
      &:first-child {
        margin-bottom: 20px;
        .seat {
          &:nth-child(3) {
            margin-left: 50px;
          }
          &:nth-last-child(3) {
            margin-right: 50px;
          }
        }
      }
      .seat {
        position: relative;
        padding-inline: 30px;
        padding-block: 30px;
        background-color: var(--color-lightgray);
        margin-bottom: 15px;
        border-radius: 5px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          transform: translateY(-10px);
          box-shadow: 0px 2.763px 10px 0px rgba(0, 0, 0, 0.3);
          span {
            color: var(--color-red);
          }
        }
        span {
          position: absolute;
          display: inline-block;
          bottom: -20px;
          transform: translateX(-50%);

          font-size: 16px;
          font-family: var(--font-SfMedium);
          color: var(--color-title);
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .bookEvent_wrap {
    flex-direction: column;
    justify-content: center;
  }
}
