.settings_logOut {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: flex-end;
  a {
    &:hover {
      svg {
        path {
          transition: all 0.3s ease-in-out;
          fill: var(--color-red);
        }
      }
    }
  }
  svg,
  a {
    width: 26px;
    height: 24px;
    flex-shrink: 0;
  }
  button {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 3px;
    background-color: var(--color-red);
    border: unset;
    border-radius: 6px;
    transition: background 0.2s ease-in-out;
    svg {
      transition: fill 0.4s ease-in-out;
      path {
        fill: var(--color-white);
      }
    }
    &:hover {
      background-color: var(--color-white);
      svg {
        path {
          fill: var(--color-red);
        }
      }
    }
  }
}
.logInSignInContainer {
  max-width: 400px;
  margin-left: auto;
  button {
    padding: 8px 10px;
    background-color: unset;
    border: none;
    border-radius: 11px;

    color: var(--color-title);
    font-family: var(--font-SfRegular);
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.2px;
    position: relative;
    transition: all 0.2s ease-in-out;
    &:first-child {
      width: 100%;
      margin-bottom: 10px;
      border: 1px solid var(--color-red);
      &:hover {
        color: var(--color-white);
        background-color: var(--color-red);
        scale: (0.98);
      }
    }
    &:not(:first-child) {
      margin-right: 5px;
      border-radius: unset;
      overflow: hidden;
      font-family: var(--font-SfBold);
      &:hover {
        &:before {
          bottom: 0;
        }
      }
      &:before {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        height: 1.5px;
        background-color: var(--color-red);

        transition: all 0.3s ease-in-out;
      }
    }
    &:hover {
      color: var(--color-red);
    }
  }
  .signInText {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      color: var(--color-title);
      font-family: var(--font-SfRegular);
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.2px;
    }
  }
}
.leftNavWrap {
  position: relative;
  .accountBtn {
    background-color: unset;
    border: unset;
    display: flex;
    align-items: center;
    gap: 6px;
    svg {
      width: 25px;
      height: 25px;
      flex-shrink: 0;
      pointer-events: none;
    }
  }
}
