.slider_container {
  position: relative;
}
.mainSlider {
  height: 70vh;
}
.title {
  color: var(--color-white);
  font-size: 71px;
  font-family: var(--font-SfBold);
  max-width: 700px;
  position: absolute;
  bottom: 5vh;
  left: 5vh;
  z-index: 4;
}
.mainSliderImgs {
  width: 100%;
  position: relative;
  img {
    height: 100%;
  }
}
.bgImage {
  height: 70vh;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.switcherWrap {
  position: absolute;
  right: 50px;
  bottom: 20px;
}
@media (max-width: 1080px) {
  .title {
    font-size: 45px;
    bottom: 5vh;
    left: 2vh;
    max-width: 500px;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 45px;
    bottom: 5vh;
    left: 2vh;
    max-width: 300px;
  }
}
