.slider_container {
  position: relative;
}
.mainSlider {
    height: 50vh;
}
.title {
  color: var(--color-white);
  font-size: 71px;
  font-family: var(--font-SfBold);
  max-width: 700px;
  position: absolute;
  bottom: 5vh;
  left: 5vh;
  z-index: 4;
}
.mainSliderImgs {
  height: 50vh;
  width: 100%;
  position: relative;
  img {
    height: 100%;
  }
}
.bgImage {
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.switcherWrap {
  position: absolute;
  right: 50px;
  bottom: 20px;
}
