.upcomingEvents {
  padding: 50px;
  padding-top: 25px;
  .title {
    color: var(--color-title);
    font-family: var(--font-SfBold);
    font-size: 36px;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
  }
  .cardContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: auto;
    padding-bottom: 10px;
    &::-webkit-scrollbar {
      height: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--color-subtitle);
      border-radius: 40px;
      border:unset;
      cursor: pointer;
    }
  }
}
