.upcomingEvents {
  padding: 50px;
  padding-top: 25px;
  .title {
    color: var(--color-title);
    font-family: var(--font-SfBold);
    font-size: 36px;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
  }
  .cardContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: auto;
    padding-bottom: 10px;
    &::-webkit-scrollbar {
      height: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--color-subtitle);
      border-radius: 40px;
      border:unset;
      cursor: pointer;
    }
    .eventCard {
      position: relative;
      min-width: 335px;
      max-height: 450px;
      cursor: pointer;
      .timeAndAgeTopBlock {
        position: absolute;
        top: 10px;
        left: 10px;
        display: flex;
        gap: 10px;
        align-items: center;
        button {
          border: unset;
          border-radius: 11px;
          padding: 5px 8px;
          font-size: var(--font-SfMedium);
          font-size: 14px;
        }
        .eventStarting {
          background-color: var(--color-red);
          color: var(--color-white);
        }
        .age {
          background-color: var(--color-white);
          color: var(--color-title);
        }
      }
      .eventNameAndDisc {
        position: absolute;
        bottom: 10px;
        left: 10px;
        max-width: 300px;
        text-align: left;
        .textbg {
          background: linear-gradient(
            135deg,
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0)
          );
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
          width: 300px;
          position: absolute;
          height: 90px;
          border-radius: 15px;
        }
        .text {
          position: relative;
          padding-inline: 10px;
          padding-block: 5px;
          h2 {
            color: var(--color-white);
            font-family: var(--font-SfMedium);
            font-size: 20px;
            margin-bottom: 10px;
          }
          p {
            color: var(--color-white);
            font-family: var(--font-SfRegular);
            font-size: 12px;
          }
        }
      }
    }
  }
}
