.header_container {
  position: sticky;
  top: 0;
  transition: top 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-white);
  padding: 8px 50px;
  z-index: 8;
  .leftNavBar {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    .header_nav {
      a {
        color: var(--color-title);
        font-family: var(--font-SfRegular);
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.2px;
        text-decoration: unset;
        &:hover {
          color: var(--color-red);
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .header_container {
    padding-inline: 25px;
    .leftNavBar {
      li:not(:first-child) {
        display: none;
      }
    }
  }
}
