.notification_block {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1090;
  background-color: var(--color-bglightgray);
  box-shadow: 1.817px 10.763px 40.813px 0px rgba(0, 0, 0, 0.2);
  /* padding: 8px 20px; */
  max-width: 400px;
  border-radius: 5px;
  padding-block: 5px;
  padding-inline: 10px;
  transition: all 0.9s ease-in-out;
  .notification_text {
    display: flex;
    gap: 7px;
    align-items: flex-start;
    svg {
      width: 25px;
      height: 25px;
      flex-shrink: 0;
      path {
        fill: var(--color-red);
      }
    }
    p {
      color: var(--color-red);
      font-family: var(--font-SfBold);
      font-size: 18px;
      letter-spacing: 0.2px;
      text-decoration: unset;
    }
  }
}
