.background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  background-color: #0000000f;
  opacity: 0.4;
  cursor: pointer;
}
.doubleCheckMenu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;

  display: flex;
  align-items: flex-start;
  gap: 8px;
  max-width: 500px;
  width: 100%;
  background-color: var(--color-bglightgray);
  border-radius: 15px;
  padding: 14px 15px;
  box-shadow: 5.817px 11.763px 58.813px 0px rgba(199, 199, 199, 0.6);
  svg {
    width: 30px;
    height: 30px;
    path {
      fill: var(--color-red);
    }
  }
  .doubleCheckQuestion {
    width: 100%;
    h1 {
      max-width: 300px;

      color: var(--color-title);
      font-family: var(--font-SfRegular);
      font-size: 22px;
      text-align: left;
      margin-bottom: 15px;
    }
    .doubleCheckButtons {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      button {
        width: 100%;
        padding: 7px 10px;
        border-radius: 8px;
        font-family: var(--font-SfMedium);
        font-size: 15px;
        text-align: center;

        transition: all 0.3s ease-in-out;
        &:first-child {
          color: var(--color-white);
          border: 2px solid var(--color-red);
          background-color: var(--color-red);
          &:hover {
            color: var(--color-red);
            background-color: transparent;
          }
        }
        &:last-child {
          color: var(--color-red);
          background-color: transparent;
          border: 2px solid var(--color-red);
          &:hover {
            color: var(--color-white);
            background-color: var(--color-red);
          }
        }
      }
    }
  }
}
.eventCardContainer {
  position: relative;
  .bookEventButton {
    position: absolute;
    bottom: -10px;
    width: 100%;
    padding: 5px 8px;
    border-radius: 8px;

    background-color: var(--color-red);
    border: 2px solid var(--color-red);

    color: var(--color-white);
    font-family: var(--font-SfMedium);
    font-size: 15px;
    text-align: center;

    transition: all 0.3s ease-in-out;
  }
}
.eventCard {
  position: relative;
  max-width: 335px;
  min-width: 335px;
  min-height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  z-index: 2;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  input:active,
  input:focus,
  input:not(:placeholder-shown) {
    outline: none;
  }
}
.editButton,
.deleteButton {
  position: absolute;
  right: -10px;
  top: -20px;
  background-color: unset;
  border: unset;
  padding: 5px;
  button {
    background-color: unset;
    border: unset;
  }
  svg {
    width: 30px;
    height: 30px;
    path {
      fill: var(--color-red);
    }
  }
}
.deleteButton {
  right: unset;
  top: unset;
  left: 50%;
  transform: translateY(-50%);
  bottom: -13%;
  padding: unset;
}
.uploadImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: unset;
  border: 2px solid transparent;
  border-radius: 11px;
  padding: 5px;
  transition: all 0.3s ease-in-out;
  &:hover {
    svg {
      path {
        transition: all 0.3s ease-in-out;
        fill: var(--color-red);
      }
    }
  }
  svg {
    width: 40px;
    height: 40px;
    path {
      fill: var(--color-white);
    }
  }
  input[type="file"] {
    display: none;
  }
}
.timeAndAgeTopBlock {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  button,
  .changeDate,
  .changeAge {
    border: unset;
    border-radius: 11px;
    padding: 5px 8px;
    font-size: var(--font-SfMedium);
    font-size: 14px;
  }
  .eventStarting,
  .changeDate {
    background-color: var(--color-red);
    color: var(--color-white);
  }
  .changeDate {
    max-width: 200px;
    border-radius: 2px;
    &::placeholder {
      color: var(--color-white);
    }
  }
  .age,
  .changeAge {
    background-color: var(--color-white);
    color: var(--color-title);
  }
  .changeAge {
    max-width: 40px;
    border-radius: 2px;
    &::placeholder {
      color: var(--color-title);
    }
  }
}
.eventNameAndDisc {
  position: absolute;
  bottom: 10px;
  left: 10px;
  max-width: 300px;
  text-align: left;
  overflow: hidden;
  .textbg {
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 300px;
    position: absolute;
    border-radius: 15px;
  }
  .text {
    position: relative;
    padding-inline: 10px;
    padding-block: 5px;
    .changeName,
    .changeDisc {
      border: unset;
      border-bottom: 2px solid var(--color-red);
      background-color: unset;
      padding: 4px;
      border-radius: 3px;
    }
    h2,
    .changeName,
    .changeName::placeholder {
      color: var(--color-white);
      font-family: var(--font-SfMedium);
      font-size: 20px;
      margin-bottom: 10px;
    }
    p,
    .changeDisc,
    .changeDisc::placeholder {
      color: var(--color-white);
      font-family: var(--font-SfRegular);
      font-size: 12px;
    }
  }
}
