.eventCard {
  position: relative;
  max-width: 335px;
  min-width: 335px;
  min-height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  cursor: pointer;
  .editButton {
    position: absolute;
    right: -10px;
    top: -20px;
    background-color: unset;
    border: unset;
    padding: 5px;
    svg {
      width: 30px;
      height: 30px;
      path {
        fill: var(--color-red);
      }
    }
  }
  .timeAndAgeTopBlock {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    button,
    .changeDate {
      border: unset;
      border-radius: 11px;
      padding: 5px 8px;
      font-size: var(--font-SfMedium);
      font-size: 14px;
    }
    .eventStarting,
    .changeDate {
      background-color: var(--color-red);
      color: var(--color-white);
    }
    .changeDate {
      max-width: 100px;
      border-radius: 2px;
      &::placeholder {
        color: var(--color-white);
      }
    }
    .age {
      background-color: var(--color-white);
      color: var(--color-title);
    }
  }
  .eventNameAndDisc {
    position: absolute;
    bottom: 10px;
    left: 10px;
    max-width: 300px;
    text-align: left;
    overflow: hidden;
    .textbg {
      background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0)
      );
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      width: 300px;
      position: absolute;
      border-radius: 15px;
    }
    .text {
      position: relative;
      padding-inline: 10px;
      padding-block: 5px;
      h2 {
        color: var(--color-white);
        font-family: var(--font-SfMedium);
        font-size: 20px;
        margin-bottom: 10px;
      }
      p {
        color: var(--color-white);
        font-family: var(--font-SfRegular);
        font-size: 12px;
      }
    }
  }
}
